* {
    margin: 0;
    padding: 0;
}


body {

    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;

}



#top-banner {
    background-image: url(/images/donation8.jpg);
    opacity: 2;
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;

}



#top-banner h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 70px;
}

#top-banner p {
    font-size: 20px;
    color: #ffffff;
}

#top-banner .button {
    color: #ffffff;
    border-radius: 5px;
    background-color: salmon;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 20px;
}

#top-banner .button:hover {
    background-color: salmon;
    padding: 20px 40px;
    border-radius: 7px;
}


.section-a {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
}

.section-a h1 {
    color: black;
    font-weight: 700;
    font-size: 50px;
}

.section-a p {
    margin-top: 30px;
    font-size: 20px;
    color: gray;
}

.section-a ul {
    margin-top: 50px;
    display: flex;
    text-decoration: none;


}

.section-a ul li {
    padding: 50px 50px;
    border: 1px solid whitesmoke;
    margin-left: 20px;
    list-style-type: none;
    font-weight: 700;
    color: #707070;
    background-color: #fafafa;
}

.section-a ul li:hover {
    color: #ff5959;
    font-weight: 700;
    background-color: white;
    border: 3px solid lightpink;
}

.section-a ul .one-item {
    color: #ff5959;
    font-weight: 700;
    background-color: white;
    border: 3px solid lightpink;
}



.section-a #text {
    margin-top: 50px;
    text-align: center;
    padding: 20px 40px;
    border: none;
}

.button {

    color: #ffffff;
    border-radius: 5px;
    background-color: salmon;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 40px;
}

.button:hover {
    background-color: salmon;
    padding: 20px 40px;
    border-radius: 7px;
}

.section-b {
    margin: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
}

.section-b h1 {
    color: black;
    font-weight: 700;
    font-size: 50px;
}

.section-b p {
    margin-top: 30px;
    font-size: 20px;
    color: gray;
}

.section-b ul {
    margin-top: 50px;
    display: flex;
    text-decoration: none;



}

.section-b ul li {

    padding: 50px 50px;
    border: 2px solid whitesmoke;
    margin-left: 20px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 400px;

}

.section-b ul li:hover {
    opacity: .7;
}

.section-b ul li img {
    size: 30px;

}

.section-b ul li h3 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 30px;
    color: black;
    text-align: left;
}

.section-b ul li p {
    color: #707070;
    text-align: left;
}

.first-item {
    background-color: #a5e0e7;
}

.second-item {
    background-color: #f8bdbd;
}

.third-item {
    background-color: lightgoldenrodyellow;
}

.section-c {
    margin-top: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.half-width {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    margin-left: 50px;

}

.half-width h1 {
    color: black;
    font-weight: 700;
    font-size: 100px;

}

.half-width p {
    margin-top: 30px;
    font-size: 20px;
    color: gray;

}



.half-width ul {

    margin-top: 50px;
    text-decoration: none;



}

.half-width ul li {
    padding: 50px 50px;
    border: 2px solid whitesmoke;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 300px;

}

.get-my-update {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
}

.get-my-update h1 {
    color: black;
    font-weight: 700;
    font-size: 50px;
}

.get-my-update p {
    margin-top: 30px;
    font-size: 20px;
    color: gray;
}

.email-form {
    width: 50%;
    height: 300px;
    display: flex;
    margin-top: 30px;
    font-size: 20px;
    background-color: lemonchiffon;
    justify-content: center;
    align-items: center;
    text-align: center;
}